<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Registration Page</h1>
    <form action="/profile">
        <p>Name:</p>
        <input type = "text" name="name">
        <br>
        <p>Age:</p>
        <input type = "text" name="age">
        <p>Phone:</p>
        <input type = "number" name="phone">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>